# APP_DOMAIN: the application's domain name
export APP_DOMAIN=
# CAVEATICA_CLOSE_DURATION: the duration of the close operation (in ms)
export CAVEATICA_CLOSE_DURATION=
# CAVEATICA_TIMEZONE: the longitude where caveatica is located
export CAVEATICA_LONGITUDE=
# CAVEATICA_TIMEZONE: the latitude where caveatica is located
export CAVEATICA_LATITUDE=
# CAVEATICA_OPEN_DURATION: the duration of the close operation (in ms)
export CAVEATICA_OPEN_DURATION=
# CAVEATICA_TIMEZONE: the timezone where caveatica is located
export CAVEATICA_TIMEZONE=
export DATA_PATH=
export DOMAIN_EMAIL=
# DOKKU_APP: the name of the Dokku app
export DOKKU_APP=caveatica
# DOKKU_HOST: the Dokku server address
export DOKKU_HOST=
# LIVE_VIEW_SALT: the secret used to encrypt the live view data (generate with `mix phx.gen.secret`)
export LIVE_VIEW_SALT=
# SECRET_KEY_BASE: the secret used to encrypt the cookie (generate with `mix phx.gen.secret`)
export SECRET_KEY_BASE=

source_env_if_exists .envrc.private
