export APP_DOMAIN=
export DATA_PATH=
export DOMAIN_EMAIL=
export DOKKU_APP=caveatica
export DOKKU_HOST=
export LIVE_VIEW_SALT=
export SECRET_KEY_BASE=

[[ -f .envrc.private ]] && source_env .envrc.private
