<h1 class="mb-4 text-4xl">Caveatica Live</h1>

<%= if @available do %>
  <div class="text-green-700">Available</div>
<% else %>
  <div class="text-red-700">Unavailable</div>
<% end %>

<img src={@image_path}>
<div><%= @image_timestamp %></div>

<div>
  <button phx-click="nudge-open">^</button>
</div>
